*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99.9vh;
    background: url(images/image1.jpg);
    background-size: cover;
}
.weather{
    display: none;
}
.container, 
.search > input, button{
    border: none;
    outline: none;
    background: transparent;
}
.container{
    padding: 2em;
    backdrop-filter: blur(1em);
    box-shadow: 0 0 0.2em black;
}
.search{
    display: flex;
    background-color: rgba(128, 128, 128, 0.185);
}
.search > input, button{
    height: 3em;
    padding-inline: 1em;
}
.search > button{
    cursor: pointer;
}
h2, h3 {
    margin-block: 0.5em;
}
.loading{
    padding: 1em 1em 0em 1em;
    width: 17em;
}
.about-us{
    font-size: x-small;
    padding: 1em 4em;
    place-self: start;
}
.about-us p{
    font-size: x-small;
    padding-inline: 2.5em;
}
.about-us a {
    color: #585555a9;
}
@media (min-width: 800px) {
    main{
        background: url(images/image2.jpg);
        background-size: cover;
    }
}